In [18]:
import pandas as pd

In [19]:
df = pd.read_fwf("Genre Classification Dataset\description.txt")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\nishc\AppData\Local\Temp\ipykernel_16600\3739839675.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_fwf("Genre Classification Dataset\description.txt")

                              Train data:
0  ID ::: TITLE ::: GENRE ::: DESCRIPTION
1  ID ::: TITLE ::: GENRE ::: DESCRIPTION
2  ID ::: TITLE ::: GENRE ::: DESCRIPTION
3  ID ::: TITLE ::: GENRE ::: DESCRIPTION
4                              Test data:

In [20]:
columns = [ 'Title' , 'Genre' , 'Description']
column = ['Title' , 'Description']

In [21]:
train_df = pd.read_csv("Genre Classification Dataset//train_data.txt",delimiter=':::',engine='python', names=columns,index_col=0)
train_df.head()

,Title,Genre,Description
1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [22]:
test_df = pd.read_csv("Genre Classification Dataset//test_data_solution.txt", delimiter=":::", engine="python", names=columns, index_col=0)
test_df.head()

,Title,Genre,Description
1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
5,Er nu zhai (1955),drama,Before he was known internationally as a mart...

In [23]:
train_df.isnull().sum(), test_df.isnull().sum()

(Title          0
 Genre          0
 Description    0
 dtype: int64,
 Title          0
 Genre          0
 Description    0
 dtype: int64)

In [24]:
X = train_df.drop(labels="Genre", axis=1)
y = train_df["Genre"]

X, y

(                                              Title  \
 1                     Oscar et la dame rose (2009)
 2                                     Cupid (1997)
 3                 Young, Wild and Wonderful (1980)
 4                            The Secret Sin (1915)
 5                           The Unrecovered (2007)
 ...                                             ...
 54210                              "Bonino" (1953)
 54211                  Dead Girls Don't Cry (????)
 54212    Ronald Goedemondt: Ze bestaan echt (2008)
 54213                     Make Your Own Bed (1944)
 54214   Nature's Fury: Storm of the Century (2006)

                                              Description
 1       Listening in to a conversation between his do...
 2       A brother and sister with a past incestuous r...
 3       As the bus empties the students for their fie...
 4       To help their unemployed father make ends mee...
 5       The film's title refers not only to the un-re...
 ...                                                  ...
 54210   This short-lived NBC live sitcom centered on ...
 54211   The NEXT Generation of EXPLOITATION. The sist...
 54212   Ze bestaan echt, is a stand-up comedy about g...
 54213   Walter and Vivian live in the country and hav...
 54214   On Labor Day Weekend, 1935, the most intense ...

 [54214 rows x 2 columns],
 1               drama
 2            thriller
 3               adult
 4               drama
 5               drama
              ...
 54210          comedy
 54211          horror
 54212     documentary
 54213          comedy
 54214         history
 Name: Genre, Length: 54214, dtype: object)

In [25]:
X

,Title,Description
1,Oscar et la dame rose (2009),Listening in to a conversation between his do...
2,Cupid (1997),A brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",As the bus empties the students for their fie...
4,The Secret Sin (1915),To help their unemployed father make ends mee...
5,The Unrecovered (2007),The film's title refers not only to the un-re...
...,...,...
54210,"""Bonino"" (1953)",This short-lived NBC live sitcom centered on ...
54211,Dead Girls Don't Cry (????),The NEXT Generation of EXPLOITATION. The sist...
54212,Ronald Goedemondt: Ze bestaan echt (2008),"Ze bestaan echt, is a stand-up comedy about g..."
54213,Make Your Own Bed (1944),Walter and Vivian live in the country and hav...
54214,Nature's Fury: Storm of the Century (2006),"On Labor Day Weekend, 1935, the most intense ..."

In [26]:
y

1               drama
2            thriller
3               adult
4               drama
5               drama
             ...
54210          comedy
54211          horror
54212     documentary
54213          comedy
54214         history
Name: Genre, Length: 54214, dtype: object

In [27]:
X['Description'] = X["Description"].str.lower()
X

,Title,Description
1,Oscar et la dame rose (2009),listening in to a conversation between his do...
2,Cupid (1997),a brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",as the bus empties the students for their fie...
4,The Secret Sin (1915),to help their unemployed father make ends mee...
5,The Unrecovered (2007),the film's title refers not only to the un-re...
...,...,...
54210,"""Bonino"" (1953)",this short-lived nbc live sitcom centered on ...
54211,Dead Girls Don't Cry (????),the next generation of exploitation. the sist...
54212,Ronald Goedemondt: Ze bestaan echt (2008),"ze bestaan echt, is a stand-up comedy about g..."
54213,Make Your Own Bed (1944),walter and vivian live in the country and hav...
54214,Nature's Fury: Storm of the Century (2006),"on labor day weekend, 1935, the most intense ..."

In [28]:
X['Description'] = X['Description'].str.replace(r'[^\w\s]', '', regex=True)
X

,Title,Description
1,Oscar et la dame rose (2009),listening in to a conversation between his do...
2,Cupid (1997),a brother and sister with a past incestuous r...
3,"Young, Wild and Wonderful (1980)",as the bus empties the students for their fie...
4,The Secret Sin (1915),to help their unemployed father make ends mee...
5,The Unrecovered (2007),the films title refers not only to the unreco...
...,...,...
54210,"""Bonino"" (1953)",this shortlived nbc live sitcom centered on b...
54211,Dead Girls Don't Cry (????),the next generation of exploitation the siste...
54212,Ronald Goedemondt: Ze bestaan echt (2008),ze bestaan echt is a standup comedy about gro...
54213,Make Your Own Bed (1944),walter and vivian live in the country and hav...
54214,Nature's Fury: Storm of the Century (2006),on labor day weekend 1935 the most intense hu...

In [29]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nishc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
# from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# stop_words = set(stopwords.words("english"))
# X['Description'] = X['Description'].apply(lambda x: ' '.join([word for word in word_tokenize(x.lower()) if word not in stop_words]))

# X


from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

X['Description'] = X['Description'].apply(lambda x: ' '.join(
    [lemmatizer.lemmatize(word) for word in word_tokenize(x)]
))
X

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nishc\AppData\Roaming\nltk_data...

,Title,Description
1,Oscar et la dame rose (2009),listening in to a conversation between his doc...
2,Cupid (1997),a brother and sister with a past incestuous re...
3,"Young, Wild and Wonderful (1980)",a the bus empty the student for their field tr...
4,The Secret Sin (1915),to help their unemployed father make end meet ...
5,The Unrecovered (2007),the film title refers not only to the unrecove...
...,...,...
54210,"""Bonino"" (1953)",this shortlived nbc live sitcom centered on bo...
54211,Dead Girls Don't Cry (????),the next generation of exploitation the sister...
54212,Ronald Goedemondt: Ze bestaan echt (2008),ze bestaan echt is a standup comedy about grow...
54213,Make Your Own Bed (1944),walter and vivian live in the country and have...
54214,Nature's Fury: Storm of the Century (2006),on labor day weekend 1935 the most intense hur...

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [32]:
encoder = LabelEncoder()
y = encoder.fit_transform(y)

tfidf_vectorizer = TfidfVectorizer(max_features=20000, min_df=5, max_df=0.8)
X = tfidf_vectorizer.fit_transform(X['Description'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(n_components=300)
X_train_reduced = svd.fit_transform(X_train)
X_test_reduced = svd.transform(X_test)

In [36]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train_reduced, y_train)

y_pred = model.predict(X_test_reduced)
y_pred

array([ 8,  8, 13, ...,  8,  8,  6], shape=(10843,))

In [37]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.5781610255464354